# Ignore virtual environments
venv/

# Ignore macOS system files
.DS_Store

# Ignore Python cache
__pycache__/

# Ignore SHAP and plot outputs
*.png
*.html

# Ignore dataset CSVs (optional)
*/data/*.csv
